*{
	font-size: 18px
}
body{
	background-image: linear-gradient(lightgreen, green);
	/*background: repeating-radial-gradient(farthest-side ellipse at center, green, red, green 80px);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1920px 1080px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header ul li a:hover {
  background-color: #111;
}
#li_img_header{
	float: right;
}
#img_header {
	height: 50px;
}

footer {
  display: block;
  background: lightgreen;
  color: black;
  bottom: 10px;
  width: 100%;
}

#div_footer {
	border: groove 5px green;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

p{
  /*border: solid black 2px;*/
  /*font-style: italic;*/
}

#pSaison{
  height: 300px;
  width: 300px;
}

#saisonImg{
  height: 300px;
  width: 300px;
}